<h1>Locations#search</h1>
<p>Find me in app/views/locations/search.html.erb</p>

<h1>Location Search</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
$(document).ready(function() {
// add double click event
google.maps.event.addListener(Gmaps.map.serviceObject, 'dblclick', function(event) {
    geocodePoint(event.latLng, function(data) {
       console.log(data);
    });
});


function geocodePoint(latlng, callback) {

    var street_number = '';
    var route = '';
    var country = '';
    var postal_code = '';
    var city = '';
    var full_address = '';
    var latitude = latlng.lat();
    var longitude = latlng.lng();

    geocoder.geocode({'latLng': latlng }, function(responses) {

        if (responses &amp;&amp; responses.length &gt; 0) {

              full_address = responses[0].formatted_address;

              responses[0].address_components.forEach(function(el) {
                  el.types.forEach(function(type) {
                      if(type == 'street_number') street_number = el.long_name;
                      if(type == 'route') route = el.long_name;
                      if(type == 'country') country = el.long_name;
                      if(type == 'postal_code') postal_code = el.long_name;
                      if(type == 'locality') city = el.long_name;
                  })
              });
        }
        else {
            alert("Could not geocode... :(");
        }

        callback({
            street_number: street_number,
            route: route,
            postal_code: postal_code,
            city : city,
            country: country,
            latitude: latitude,
            longitude: longitude,
            full_address:full_address
        });
    });
}
});
</script>
